fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
python-multipart
supabase
pillow
pytesseract
pydantic-settings
openai 
asyncpg
requests
python-jose[cryptography]
google-genai
passlib
bcrypt==4.1.2
langsmith
redis
groq
pydantic[email]
slowapi
pytest
pytest-asyncio
httpx  
portkey-ai
streamlit
python-pptx
prometheus-client
pip-audit
bandit
setuptools>=83.0.0
